@import "tailwindcss";

@layer base {
  body {
    font-family:'Manrope',sans-serif;
  }
}

@theme{

  --color-f-dark-blue:#202733;
  --color-f-dark-grayish-blue:#313A48;
  --color-f-grayish-blue:#4F5D74;
  --color-f-light-cyan:#CEE3E9;
  --color-f-neon-green:#53FFAA;

  
}